<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Lottery_home</title>
</head>

<body>
    <div style="width: 250px;margin:0 auto">
        <!-- <form method="post">
            {% csrf_token %}
            <input type="submit" value="start" name="type">
        </form> -->
        <label>lottery name: {{ln}}</label>
        <br><br>
        <!-- <form method="post">
            {% csrf_token %}
            <input type="submit" value="luck_start" name="start_lottery">
        </form> -->

        <form method="post">
            <select name="start_lottery">
                {% for post in all_group %}
                <option value={{post.group_id}}>{{post.group_id}}</option>
                {% endfor %}
            </select>
            {% csrf_token %}
            <input type="submit" value="luck_start">
        </form>

        <button type="button">
            <a href="select_group"> luck reset</a>
        </button>
        <form method="post">
            {% csrf_token %}
            <!-- <label for="uid">員工編號：</label> -->
            <input type="submit" value="lottery clear" name="lottery_clear">
        </form>
        <button type="button">
            <a href="look_home"> look home</a>
        </button>

    </div>
</body>