<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Lottery_home</title>
</head>

<body>
    <div style="width: 250px;margin:0 auto">
        <br><br>
        <form method="post">
            <label>lottery name</label>
            <select name="lottery_name_select">
                {% for post in ln %}
                <option value={{post.lottery_name}}>{{post.lottery_name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <label>Group id:</label>
            <select name="group_id_select">
                {% for post in all_group %}
                <option value={{post.group_id}}>{{post.group_id}}</option>
                {% endfor %}
            </select>

            {% csrf_token %}
            <input type="submit" value="luck_start">
        </form>

        <button type="button">
            <a href="select_group"> luck reset</a>
        </button>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="lottery clear" name="lottery_clear">
        </form>
        <button type="button">
            <a href="look_home"> look home</a>
        </button>

    </div>
</body>